#edit related
*~

#data files/directories
*.bam
/data
/tmp
.tox

#project files
.venv
.env
/bin
/etc/ssl/selfsigned-*
*/miniconda3
.vagrant

# test metadata
etc/tests/integration/*/__pycache__/*
etc/tests/integration/*/.pytest_cache/*
etc/tests/integration/*/src/__pycache__/*
etc/tests/integration/*/src/.pytest_cache/*

etc/tests/integration/*/geckodriver
etc/tests/integration/*/geckodriver.log
etc/tests/integration/*/chromedriver
geckodriver.log
