[submodule "lib/toil/toil-docker"]
  path = lib/toil/toil-docker
  url = https://github.com/DataBiosphere/toil.git
[submodule "lib/htsget-server/htsget_app"]
  path = lib/htsget-server/htsget_app
  url = https://github.com/CanDIG/htsget_app.git
[submodule "lib/federation-service/federation_service"]
  path = lib/federation-service/federation_service
  url = https://github.com/CanDIG/federation_service
[submodule "lib/chord-metadata/chord_metadata_service"]
  path = lib/chord-metadata/chord_metadata_service
  url = https://github.com/CanDIG/katsu.git 
[submodule "lib/candig-data-portal/candig-data-portal"]
  path = lib/candig-data-portal/candig-data-portal
  url = https://github.com/CanDIG/candig-data-portal.git
[submodule "lib/opa/opa"]
  path = lib/opa/opa
  url = https://github.com/CanDIG/candig-opa.git
