[submodule "lib/toil/toil-docker"]
	path = lib/toil/toil-docker
	url = git@github.com:CanDIG/toil.git
[submodule "lib/htsget-server/htsget_app"]
	path = lib/htsget-server/htsget_app
	url = https://github.com/canDIG/htsget_app
[submodule "lib/drs-server/chord_drs"]
	path = lib/drs-server/chord_drs
	url = https://github.com/c3g/chord_drs.git
