#edit related
*~

#data files/directories
*.bam
/data
/tmp
.tox

#project files
.venv
.env
/bin
/etc/ssl/selfsigned-*
*/miniconda3


# vault
lib/authz/vault/data/*
lib/authz/vault/logs/*
lib/authz/vault/policies/*
lib/authz/vault/config/*

# keycloak
lib/authz/keycloak/data/*
lib/authz/keycloak/data/secrets.env

# tyk
lib/authz/tyk/data/*

# opa 
lib/opa/*
lib/authz/opa/*
lib/authz/opa/policy.rego
lib/*/authz/opa/*.rego

