[submodule "lib/toil/toil-docker"]
	path = lib/toil/toil-docker
	url = https://github.com/DataBiosphere/toil.git
[submodule "lib/htsnexus-server/htsget_app"]
	path = lib/htsget-app
	url = https://github.com/candig/htsget_app
