#edit related
*~

#data files/directories
*.bam
/data
/tmp
.tox

#project files
.venv
.env
/bin
/etc/ssl/selfsigned-*
*/miniconda3
.vagrant

# keycloak
lib/authz/keycloak/tmp/*

# tyk
lib/authz/tyk/tmp/*

# vault
lib/authz/vault/tmp/*

# opa 
lib/candig_server/authz/tmp/*.rego
lib/candig-server/authz/tmp/*.rego


# test metadata
etc/tests/integration/*/__pycache__/*
etc/tests/integration/*/.pytest_cache/*
etc/tests/integration/*/src/__pycache__/*
etc/tests/integration/*/src/.pytest_cache/*

etc/tests/integration/*/geckodriver
etc/tests/integration/*/geckodriver.log
etc/tests/integration/*/chromedriver
geckodriver.log
