connexion==2.2.0
SQLAlchemy==1.3.3
tornado==6.0.2
decorator==4.4.0
bravado-core==5.12.1
pyyaml>=4.2b1
pytest==5.0.1
pytest-cov==2.7.1
requests==2.22.0
requests-futures==1.0.0
swagger-ui-bundle==0.0.5
uwsgi==2.0.18
Sphinx==2.3.1
sphinx-rtd-theme==0.4.3
Werkzeug==0.15.4
prometheus-flask-exporter==0.13.0 
Flask-Cors==3.0.9
