# Location of the sqlite DB, optional, by default will be at the root of the project
DATABASE=

# When not using MinIO, where in the local filesystem should the objects be stored
# Also optional, by default will be in $HOME/chord_drs_data
DATA=

# To provide MinIO's secret you can either use these:
MINIO_USERNAME=potato
MINIO_PASSWORD=patate

# Or you may also point to some file containing these secrets using these:
MINIO_ACCESS_KEY_FILE=/path/to/secret
MINIO_SECRET_KEY_FILE=/path/to/secret

# Regardless, you will need to specify these:
MINIO_URL=http://some-minio-url/
MINIO_BUCKET=your_bucket_name
