# Byte-compiled
__pycache__/
*.pyc

# sqlite
/*.sqlite3

# migrations
patients/migrations/*

# passwords
passwords.txt

# virtualenv
env/
.env

# IDE related (intelliJ, vim files)
.idea/
*.swp
*.swo

# coverage
.coverage
htmlcov/

# docs build

docs/_build
